@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    font-family: "poppins";
    box-sizing: border-box;
}
body{
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}



#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  


.container{
    right: 90px;
    top: 80px;
    position: relative;
    width: 350px;
    height: 500px;
    margin-right: 350px;
    background: rgba(0,0,0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 32px;
    overflow: hidden;
}
.container::before{
    content: "";
    position: absolute;
    height: 650px;
    width: 650px;
    background: conic-gradient(
        transparent,transparent,transparent,#d400d4
    );
    animation: animate2 4s linear infinite;
    animation-delay: -2s;
}
.container::after{
    content: "";
    position: absolute;
    height: 650px;
    width: 650px;
    background: conic-gradient(
        transparent,transparent,transparent,#00cfff
    );
    animation: animate2 4s linear infinite;
}
@keyframes animate2{
    0%
    { 
    transform: rotate(0);
    }
    100%
    { 
        transform: rotate(360deg);
    }
}

.image{
    position: absolute;
    inset: 5px;
    background-color: #0c1022;
    z-index: 1;
    border-radius: 16px;
}
.form-box{
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.form-box .form h2{
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.form .input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 0 35px 0 5px;
    color: #fff;
    transition: .3s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.input-box label{
    position: absolute;
    color: #fff;
    top: 0%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transform: .3s
}
.group{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.group a{
    position: relative;
    top: -15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
button{
    height: 40px;
    width: 90px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}
button:focus{
    color: #fff;
    background-color: #0c1022;
    border: 2px solid #fff;
}







@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    overflow: hidden;
}
.card
{
    left: 510px;
    top: -235px;
    position: relative;
    width: 350px;
    height: 190px;
    background: #333;
    transition: 0.5s;
}
.card:hover
{
    background-color: #000;
    height: 350px;
}
.card .lines
{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}
.card .lines::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
    animation: animate 4s linear infinite;
}
@keyframes animate
{
    0%
    { 
    transform: translate(-50%,-50%) rotate(0deg);
    }
    100%
    { 
    transform: translate(-50%,-50%) rotate(360deg);
    }
}
.card .lines::after
{
    content: '';
    position: absolute;
    inset: 3px;
    background: #000000;
}
.card .imgBx
{
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}
.card:hover .imgBx
{
    width: 250px;
    height: 250px;
}
.card .imgBx::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%,-50%);
    background: linear-gradient(transparent,#ff3c76,#ff3c76,#ff3c76,transparent);
    animation: animate3 6s linear infinite;
}
@keyframes animate3
{
    0%
    { 
    transform: translate(-50%,-50%) rotate(360deg);
    }
    100%
    { 
    transform: translate(-50%,-50%) rotate(0deg);
    }
}
.card .imgBx::after
{
    content: '';
    position: absolute;
    inset: 3px;
    background: #1d1c1c;
}
.card .imgBx img
{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    /* filter: grayscale(1); */
}
.card .content
{
    top:-30px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .details
{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}
.card:hover .content .details
{
    transform: translate(0px);
}
.card .content .details h2
{
   
    font-size: 1.55em;
    font-weight: 700;
    color: #45f3ff;
    line-height: 1.2em;
}
.card .content .details h2 span
{
    font-size: 0.75em;
    font-weight: 500;
    color: #fff;
}
.card .content .details .data
{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.card .content .details .data h3
{
    font-size: 1em;
    color: #45f3ff;
    line-height: 1.2em;
    font-weight: 600;
}
.card .content .details .data h3 span
{
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
}
.card .content .details .actionBtn
{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.card .content .details .actionBtn button
{
    padding: 5px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: #45f3ff;
    color: #222;
    cursor: pointer;
    opacity: 0.9;
}
.card .content .details .actionBtn button:nth-child(2)
{
    background: #fff;
}
.card .content .details .actionBtn button:hover
{
    opacity: 1;
}