{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>KL Samarthya 2024</title>
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  <!-- <link rel="stylesheet" href="navbar.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body>
  
  <video autoplay muted loop id="myVideo">
    <source src="{% static 'videos/about.mp4' %}" type="video/mp4">
  </video>


<div id="content">
  <nav>
      <div class="header container">
          <div class="logo">
              <a href="{% url 'home' %}"><img style="width:120px;" src="{% static 'images/logo.png' %}" alt=""></a>
          </div>
          <div class="navlinks">
            <ul>
              <li class="active"><a href="{% url 'home' %}" class="link">Home</a></li>
              <li><a href="{% url 'events' %}" class="link">Events</a></li>
              <li><a href="{% url 'gallery' %}" class="link">Gallery</a></li>
              <li><a href="{% url 'team' %}" class="link">Team</a></li>
              <li><a href="{% url 'about' %}" class="link">About Us</a></li>
            </ul>
          </div>
          <div class="ham">
            <a class="neon" href="{% url 'login' %}">
              <span></span><span></span> <span></span><span></span>
              Login
            </a>
            <a href="{% url 'signup' %}" class="btn">Register</a>
          </div>
      </div>
      <canvas id="canvas"></canvas>
  </nav>


<div class="gradient"></div>
</div>


<main >
  <h1>Click on the carousel</h1>
  <div class="carousel" onclick="onClick()" onmousemove="onMouseMove(event)">
    <div>
      <img src="{% static 'images/1.jpg' %}" />
    </div>
    <div>
      <img src="{% static 'images/2.jpg' %}" />
    </div>
    <div>
      <img src="{% static 'images/9.jpg' %}" />
    </div>
    <div>
      <img src="{% static 'images/4.jpg' %}" />
    </div>
    <div>
      <img src="{% static 'images/5.jpg' %}" />
    </div>
    <div>
      <img src="{% static 'images/6.jpg' %}" />
    </div>
    <div>
      <img src="{% static 'images/7.jpg' %}" />
    </div>
    <div>
      <img src="{% static 'images/8.jpg' %}" />
    </div>

</main>
<!-- partial -->
  <script src="{% static 'js/gallery.js' %}"></script>
  <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>
