{% load static %}

{% static "" %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
  
    <title>Navbar</title>
</head>
<body>
   

    <div id="content">
        <nav>
            <div class="header container">
                <div class="logo">
                    <a href="{% url 'home' %}"><img style="width:120px;" src="{% static 'images/logo.png' %}" alt=""></a>
                </div>
                <div class="navlinks">
                    <ul>
                        <li class="active"><a href="#" class="link">Home</a></li>
                        <li><a href="#" class="link">Events</a></li>
                        <li><a href="#" class="link">Gallery</a></li>
                        <li><a href="#" class="link">Team</a></li>
                        <li><a href="#" class="link">About Us</a></li>
                    </ul>
                </div>

                {% if user.is_authenticated %}
                <div class="ham">
                    <a style="padding: 5px 10px ;"  class="neon" href="{% url 'logout' %}">
                        <span></span><span></span>
                        <span></span><span></span>
                        Log out
                    </a>
                    <a href="#" class="btn">Profile</a>
                </div>
                {% else %}
                <div class="ham">
                    <a class="neon" href="{% url 'login' %}">
                        <span></span><span></span>
                        <span></span><span></span>
                        Login
                    </a>
                    <a href="{% url 'signup' %}" class="btn">Register</a>
                </div>
               
                  
                {% endif %}
            </div>
            <canvas id="canvas"></canvas>
        </nav>
    </div>

    <div class="gradient"></div>

    <script src="{% static 'js/navbar.js' %}"></script>
    <script>
        window.onload = function() {
            var loader = document.getElementById('loader-wrapper');
            var content = document.getElementById('content');
            var loaderVideo = document.getElementById('loader-video');

            loaderVideo.addEventListener('ended', function() {
                loader.style.display = 'none';
                content.style.display = 'block';
            });
        };
    </script>
</body>
</html>
