{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>KL Samarthya 2024</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

    </head>
    <body>
        <video autoplay muted loop id="myVideo">
            <source src="{% static 'videos/about.mp4' %}" type="video/mp4">
          </video>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="container" >
            
                <div class="image">
                <div class="form-box">
                    <div class="form" style="margin-top: -46px;">
                    <h2>User Profile </h2>
                    <div class="input-box">
                        
                        <input type="text" value="{{pdb.username}}" disabled>
                        <label for="">ID Number</label>
                        
                    </div>
                    <div class="input-box">
                        <input type="text" value="{{pdb.email}}" disabled>
                        <label for="">Email</label>
                    </div>
                    <div class="input-box">
                        <input type="text" value="{{pdb.last_name}}" disabled>
                        <label for="">Contact</label>
                    </div>

                    <div class="input-box">
                        <input type="text" value="{% if isPay %} {{isPay.payment_status}} {% endif %}" disabled>
                        <label for="">Payment Status</label>
                    </div>   
                    <button style="
                    margin-left: 100px; width:110px;">Pay the fee</button>
                </div>
                </div>
            </div>
            
        </div>




        <div class="card">
            <div class="lines"></div>
            <div class="imgBx">
                {% if profile_image %}
                
                
                <!-- <input type="file" name="prof_img" id="prof_img"> -->
                <img src="{{profile_image.img.url}}" id="prof_img" alt="Profile Image">
                  {% else %}
                <img src="{% static 'images/pp.png' %}">
                {% endif %}
            </div>
            
            <div class="content">
                <div class="details">
                    
                    <h2>{{pdb.first_name}}<br><span>{{pdb.username}}</span></h2>
                    <div class="data">
                        <!-- <h3><br><span></span></h3>
                        <h3><br><span></span></h3>
                        <h3><br><span></span></h3> -->
                    </div>
                    <div class="actionBtn">
                        
                        <button type="submit">Update</button>
                        <button style="margin-left: 90px; width:110px;">Go back</button>
                        <!-- <button>Message</button> -->
                    </div>
                </div>
            </div>
        </div>
    </form>
    </body>
</html>